.inputButtons {
    height: 70px;
    width: 70px;
    margin: 10px;
    size: 20px 20px;
    font-size: 40px;
}

.buttonBorder {
    border: 1px black solid;
}

.inputButtons:hover {
    border: 1px black solid;
}

nav h1 {
    color: white;
}